

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
}

#footerPic {
    display: flex; 
    /* background-color: #fdfd96; */
    width: 90%;
    padding: 25px 25px 25px 25px;
 margin: 20px 30px 0 0;
}