.linksNav {
    color: #fdfd96;
}

#headerWhole {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    font-style: sans-serif;
    background-color: #b2a69c;
    -webkit-font-smoothing: subpixel-antialiased;
    padding-left: 50px;
    padding-right: 50px;
    height: 120px;
}

a:link { 
    text-decoration: none; 
    color: #fdfd96;
  } 
  a:visited { 
    text-decoration: none; 
    color: #fdfd96;
  } 
  a:hover { 
    text-decoration: underline; 
  } 
  a:active { 
    text-decoration: none; 
  }