.linksNav {
    color: black;
}

.topnav {
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: fixed;
    top: 0; */
    /* justify-content: space-between;
    align-items: center; */
    font-size: 20px;
    font-style: sans-serif;
    background-color: #b2a69c;
    -webkit-font-smoothing: subpixel-antialiased;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 12px;
    padding-top: 0px;
    height: 135px;
    max-width: 81%;
    width: 81%;
    margin-right: 10px;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a, .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;

    
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}

@media screen and (max-width: 600px) {
  .topnav {
    height: 225px;

  }

}


/* @media screen and (max-width: 600px) {
  .topnav li.right, 
  .topnav li {float: none;}
} */

/* @media screen and (max-width: 500px) {
  .topnav a {
    float: none;
    display: block;
    text-align: left;
    font-size: 7px;
    height: 100px;
  }
  .topnav-right {
    float: none;
  }

  #abideTitle {
    font-size: 5px;
  }
} */

/* @media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
} */

/* @media screen and (max-width:800px){
  .sqs-block-image .design-layout-collage {
  display: block!important;  
  >:first-child{width:100%!important;}
    :first-child>* {

      width: 100%!important;
      left: 0!important;
    }
    .image-card-wrapper {
      width:100%!important;
    }
    .image-card {
      width: 100%!important;
      margin-left: 0!important;
      margin-right: 0!important;
    }
  }  
} */

#abideTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-family: Optima, sans-serif;
  font-weight: bold;
  font-size: 23px;
}

.linksNav {
  text-decoration: none;
  padding: 5px 5px 5px 10px;
  border: white 3px solid;
  padding-right: 10px;
  margin-right: 10px;
  flex-wrap: nowrap;
  flex-direction: row;
}

.linksNav:link { 
    text-decoration: none; 
    color: #fdfd96;
  } 
  .linksNav:visited { 
    text-decoration: none; 
    color: black;
  } 
  .linksNav:hover { 
    text-decoration: underline; 
  } 
  .linksNav:active { 
    text-decoration: none; 
  }

  .icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
    padding: 15px 0px 10px 0px;
    flex-direction: row;
    
  }
  #mail {
    display: flex;
    width: 30px;
    height: 30px;
  }

  #ig {
    display: flex;
    width: 30px;
    height: 30px;
  }

  .all {
    display: flex;
    flex-direction: column;
  }