body { 
    width: 80%; 
    max-width: 100%; /* or whatever width you want */ 
    margin-right: auto; 
    margin-left: auto; 
    padding: 10px 10px 25px 25px;
    overflow-x: hidden;
} 

.services {
    color: #b2a69c;
    font-family: Optima, sans-serif;
}

#services2 {
    display: flex;
    justify-content: center;
    color: #b2a69c;
    font-family: Optima, sans-serif;
    text-decoration: underline;
}
